:root {
  --primaryColor: hsl(26, 93%, 50%);
  --hoverColor: hsl(26, 90%, 40%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 0%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDim: hsl(0, 0%, 93%);
  --grayBg: hsl(0, 0%, 96%);
  --grayText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.navSection .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--whiteColor);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navSection .header .logoDiv .logo {
  font-weight: 500;
  color: var(--textColor);
  align-items: center;
  justify-content: center;
}
.navSection .header .logoDiv .logo .icon {
  font-size: 2rem;
  margin-right: 0.2rem;
  color: var(--primaryColor);
}
.navSection .header .navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navSection .header .navBar .navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navSection .header .navBar .navList .navItem .navLink {
  color: var(--textColor);
  font-weight: 600;
}
.navSection .header .navBar .navList .navItem .navLink:hover {
  color: var(--primaryColor);
}
.navSection .header .navBar .headerBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navSection .header .navBar .headerBtns .btn {
  margin: 0.5rem 0.5rem 0;
  color: var(--whiteColor);
}
.navSection .header .navBar .headerBtns .btn a {
  font-weight: 600;
}
.navSection .header .navBar .headerBtns .btn a:hover {
  color: var(--whiteColor);
}
.navSection .header .navBar .headerBtns .login-btn {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
}
.navSection .header .navBar .headerBtns .login-btn:hover {
  background-color: var(--hoverColor);
  color: var(--whiteColor);
}
.navSection .header .navBar .headerBtns .signup-btn {
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  color: var(--whiteColor);
}
.navSection .header .navBar .headerBtns .signup-btn:hover {
  background-color: var(--hoverColor);
  color: var(--whiteColor);
}
@media screen and (max-width: 768px) {
  .navSection .navBar {
    background: var(--grayBg);
    position: absolute;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: -500%;
    box-shadow: 0 2px 4px rgba(200, 209, 200, 0.9);
    z-index: 100;
    transition: 0.5 ease;
  }
  .navSection .navBar .navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .navSection .navBar .navList .navItem {
    padding: 0.5rem 0;
  }
  .navSection .navBar .navList .navItem .navLink {
    color: var(--textColor);
    font-weight: 600;
  }
  .navSection .navBar .navList .navItem .navLink:hover {
    color: var(--primaryColor);
  }
  .navSection .navBar .navList .headerBtns {
    gap: 0.6rem;
  }
  .navSection .navBar .navList .headerBtns .btn {
    margin: 1rem 0.5rem 0;
    color: var(--whiteColor);
  }
  .navSection .navBar .navList .headerBtns .btn a {
    font-weight: 600;
  }
  .navSection .navBar .navList .headerBtns .btn a:hover {
    color: var(--whiteColor);
  }
  .navSection .navBar .navList .headerBtns .login-btn {
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
  }
  .navSection .navBar .navList .headerBtns .login-btn:hover {
    background-color: var(--hoverColor);
    color: var(--whiteColor);
  }
  .navSection .navBar .closeNav {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--primaryColor);
    cursor: pointer;
    transition: 0.3s ease;
  }
  .navSection .navBar .closeNav:hover {
    color: var(--hoverColor);
  }
  .navSection .activeNav {
    left: 0;
  }
}
.navSection .toggleNav {
  font-size: 1.5rem;
  color: var(--textColor);
  cursor: pointer;
  transition: 0.3s ease;
}
.navSection .toggleNav:hover {
  color: var(--primaryColor);
}/*# sourceMappingURL=Navbar.css.map */