@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease;
}

:root {
  --primaryColor: hsl(26, 93%, 50%);
  --hoverColor: hsl(26, 90%, 40%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 0%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDim: hsl(0, 0%, 93%);
  --grayBg: hsl(0, 0%, 96%);
  --grayText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding: 0 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  display: inline-block;
  background: var(--primaryColor);
  color: var(--whiteColor);
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover {
  background: var(--hoverColor);
}

.section {
  padding: 4rem 0 2rem;
}

.sec-intro {
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}

.sec-intro .sec-title {
  color: var(--blackColor);
  line-height: 1.2rem;
  padding-bottom: 0.5rem;
}
.sec-intro p {
  color: var(--textColor);
  font-size: 0.8rem;
  font-weight: 500;
  padding-top: 0.5rem;
}

img,
video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

input {
  font-size: 100%;
}

/* @media screen and (min-width: 530px) {
  .main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
} */
